* {
  margin: 0;
  padding: 0;
}

header {
  text-align: center;
}

.play-area {
  display: flex;
  height: 1000px;
  margin: 3rem 2rem 3rem 2rem;
}

.player {
  background-color: aquamarine;
  width: 47%;
  height: 50%;
  margin-right: 1rem;
}

.dealer {
  background-color: royalblue;
  width: 47%;
  height: 50%;
  margin-left: 1rem;
}
